@model Supervise_.Models.Sp_studentgrouping

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sp_studentgrouping</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student_Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
