@model Supervise_.Models.sp_GP_Group

@{
    ViewData["Title"] = "Create";
}

<h1>Edit Group</h1>

<h4> For Graduation Project </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="form-group">
                <label asp-for="id" class="control-label">Group ID </label>
                <input asp-for="id"  type="hidden" class="form-control" /> @Model.id
                </div>
                <div class="form-group">
                <label asp-for="sthead_name" class="control-label">Group Head </label>
                <input asp-for="sthead_name" type="hidden" class="form-control" />  @Model.sthead_name
                </div>
                <div class="form-group">
                <label asp-for="Year" class="control-label">Year </label>
                <input asp-for="Year" type="hidden" class="form-control" />  @Model.Year
                </div>
                <div class="form-group">
                <label asp-for="statue" class="control-label">Status </label>
                <input asp-for="statue"  type="hidden"class="form-control" />  @Model.statue
                </div>
                 <div class="form-group">
                <label asp-for="Registration_code" class="control-label">Registration Code</label>
                <input asp-for="Registration_code" type="hidden" class="form-control" />  @Model.Registration_code
                </div>
                <div class="form-group">
                <label asp-for="gender" class="control-label">Group Gender </label>
                <input asp-for="gender" type="hidden" class="form-control" />  @Model.gender
                </div>
             <label asp-for="Supervisor_Name" class="control-label">choose a supervisor name </label>
                   <select  class="form-control" asp-for="Supervisor_Name">
                    <option value="">select a supervisour</option>
                      @foreach (sp_instructor spr in ViewBag.Superv)
                        {
                             <option value = "@spr.Name"  > @spr.Name  </option>
                        }

                </select> 

              
                 <div class="form-group">
                <label asp-for="Project_title" class="control-label">Enter The Project title </label>
                <input asp-for="Project_title"  class="form-control" />
                <span asp-validation-for="Project_title" class="text-danger"></span>
                </div>
            <br/>
            <div class="form-group">
                <label asp-for="Project_Project_ProblemDefinition" class="control-label"> Enter The Project Problem Definition </label>
                <textarea asp-for="Project_Project_ProblemDefinition" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Project_Project_ProblemDefinition" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Project_scope" class="control-label">Enter The Project Scope</label>
                <textarea asp-for="Project_scope" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Project_scope" class="text-danger"></span>
            </div>
            <br/>
           
            <div class="form-group">
                <label asp-for="Project_Objective" class="control-label">Enter The Project Objectives </label>
                 <textarea asp-for="Project_Objective" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Project_Objective" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="MassegeToSupervisor" class="control-label">Send Message to Supervisor </label>
                 <textarea asp-for="MassegeToSupervisor" class="form-control" rows="4"></textarea>
                <span asp-validation-for="MassegeToSupervisor" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p style="color:red"> @ViewData["message"]</p>
<div>
    <a asp-action="Index" asp-controller="sp_GP_Group">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
