@model IEnumerable<Supervise_.Models.GP_Settings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Max_students_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min_students_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_of_male_groups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Num_of_female_groups)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dr_supervision_limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ms_supervision_limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MF_supervision_limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term1_SubmissionDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Term2_SubmissionDeadline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Max_students_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Min_students_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_of_male_groups)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Num_of_female_groups)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dr_supervision_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ms_supervision_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MF_supervision_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term1_SubmissionDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Term2_SubmissionDeadline)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
