@model Supervise_.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_Hour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_Hour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_pass_web2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_pass_web2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is_pass_projectmanagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is_pass_projectmanagement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
