@model IEnumerable<Supervise_.Models.sp_gp_ideas>

@{
    ViewData["Title"] = "Index";
}



<p>
                     @if ((string)ViewData["Role"] == "instructor")
                {
    <a asp-action="Create">Create New Idea</a>
                }
</p>
<h1>List of all Ideas</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstructorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstructorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                 @if ((string)ViewData["Role"] == "instructor")
                {
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a> 
                }
            </td>
        </tr>
}
    </tbody>
</table>
