@model Supervise_.Models.sp_gp_setting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>gp setting details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Maximum number of students allowed in a GP Group</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max_st_num)
        </dd>
        <dt class = "col-sm-2">
            <p>Minimum number of students allowed in a GP Group</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min_st_num)
        </dd>
        <dt class = "col-sm-2">
             <p>Number of male students</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num_male_grp)
        </dd>
        <dt class = "col-sm-2">
             <p>Number of female students</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Num_female_grp)
        </dd>
        <dt class = "col-sm-2">
          <p>Define the maximum limit for the number of Dr supervisors</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dr_supr_limit)
        </dd>
        <dt class = "col-sm-2">
           <p>Define the maximum limit for the number of Ms supervisors</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ms_supr_limit)
        </dd>
        <dt class = "col-sm-2">
           <P>Define the maximum limit for male and female supervisors</P>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.M_F_supr_limit)
        </dd>
        <dt class = "col-sm-2">
            <P>Deadline for term1</P>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term1_Subm_deadline)
        </dd>
        <dt class = "col-sm-2">
            <P>Deadline for term2</P>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term2_Subm_deadline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
